.para {
    color: red;
    width: 200px;
    color: white;
}

.bgImg {
    width: 344px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    opacity: 0.57;
    justify-content: center;
    object-position: center;
    align-items: center;
    background-position: center;
    height: 144px;
    z-index: 1000;
    display: flex;


}

.background {
    /* padding-left: 240px; */
    /* display: flex; */
    background-image: url(../public/images/blazer.jpg);
    /* background-image: linear-gradient(to bottom right, black, black); */
    width: 200px;
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* background-position: center; */
    /* margin-left: 60px; */
    /* color: black; */

    /* justify-content: center;
    object-position: center;
    align-items: center; */
    background-position: center;
    transition-property: all;
    height: 144px;
}